<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- JQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!--[if lt IE 9]>
      <script type="text/javascript" src="js/flashcanvas.js"></script>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <!-- Parsley CSS -->
    <link rel="stylesheet" href="<%= url('css/parsley.css') %>">
    <!-- Custom css -->
    <link rel="stylesheet"  href="<%= url('css/custom.css') %>" type="text/css">

    <!-- Custom JS -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script href="<%= url('js/custom.js') %>"></script>
    <!-- Typekit -->
    <script type="text/javascript" src="//use.typekit.net/qly2lma.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
      <!-- Client-side field validation -->
    <script src="<%= url('js/parsley.min.js') %>"></script>
  </head>
  <title>Apply for Calfresh & Medi-Cal</title>
  <script src="<%= url('js/jSignature.min.js') %>"></script>
  <script>
    $(document).ready(function() {
      $("#signature_area").jSignature()
      // Magic modified from http://paulology.com/signature-capture/
      var $sigdiv = $("#signature_area")
      $('#submit_button').click(function(e) {
        var datapair = $sigdiv.jSignature("getData", "image")
        $("#signature_value_hidden").append("<input type=\"hidden\" name=\"signature\" value=\"" + datapair[1] + "\">")
      });
      $('#signature_clear_button').click(function(e) {
        $sigdiv.jSignature('clear');
      });
    })
  </script>

  <body>
    <div id="main">
      <%= yield %>
    </div>
  </body>
</html>
