<form name="confirmation" action="/application/confirmation" method="post" class="form col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
	<h2 class="page-header">You've applied for CalFresh :)</h2>
	<p class="form-context">This application was submitted to San Francisco HSA on <span class="date"></span>.</p>
	<p class="form-label">What's Next</p>
	<div class="row instructions panel">
		<div class="panel-body">
			<div class="col-xs-4 instruction">
				<div class="instruction-image">
					<%= image_tag("square-placeholder.png")%>
					<div class="instruction-textbox instruction-done">
						<p class="form-context">Done!</p>
					</div>
				</div>
			</div>
			<div class="col-xs-4 instruction">
				<div class="instruction-image">
					<%= image_tag("square-placeholder.png")%>
					<div class="instruction-textbox instruction-next">
						<p class="form-context">Up Next</p>
					</div>
				</div>
			</div>
			<div class="col-xs-4 instruction">
				<div class="instruction-image">
					<%= image_tag("square-placeholder.png")%>
					<div class="instruction-textbox instruction-next">
						<p class="form-context">Up Next</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 instruction-body">
			    <p class="page-context">
					Expect a a phone call from HSA. During the call, they will review your application with you and let you know what additional documents you'll need to provide.
					If you don't hear from HSA within 5 days, <b>call them at 415-555-555.</b>
			    </p>
			</div>
		</div>
	</div>
	<p class="form-label">Keep in Touch with Your Assister</p>
	<div class="row">
		<div class="col-xs-4 instruction">
			<%= image_tag("square-placeholder.png")%>
		</div>
		<div class="col-xs-4 instruction">
			<%= image_tag("square-placeholder.png")%>
		</div>
		<div class="col-xs-4 instruction">
			<%= image_tag("square-placeholder.png")%>
		</div>
		<div class="col-xs-12 col-sm-8">
			<p class="page-context">Your assister can help you throughout this process. They should follow up with you occasionally over the next few weeks, and help you solve any problems you may encounter.</p>
		</div>
		<div class="col-xs-12 col-sm-4">
			<div style="width: 100%; height: auto; background-color:gray">
				button to print.
			</div>
		</div>
	</div>

	<div class="page-footer">
		<a href="/" class="btn btn-primary form-button-link-solo">Start a new application</a>
	</div>
	<div class="print-visible">
		<br>
		<p class="page-subheader">Success! Hold on to this reciept.</p>
		<h2 class="page-header">You submitted an application for CalFresh in San Francisco.</h2>
		<p class="page-subheader">What's next?</p>
		<p class="page-context">You should receive a phone call from the San Francisco Human Services Agency soon&mdash;about 3 to 5 days.</p>
		<p class="page-subheader">In the meantime</p>
		<p class="page-context">Here's how you can prepare for your interview with HSA:</p>
		<ul class="list">
			<li>Hold on to any verification documents you submitted with this application. It can be helpful to have them available when HSA calls.</li>
			<li>If you think you need to provide documents beyond what you submitted today, try to collect them before your call with HSA. Documents you'll need include those show your income, living expenses, and personal identification. Valid documents include:</li>
				<ul class="list">
					<li>Driver's licenses and passports</li>
					<li>Bank statements</li>
					<li>Lease agreements</li>
					<li>Utility bills</li>
					<li>Government issued ID for each person you included in your application.</li>
				</ul>
		</ul>
		<p class="page-subheader">Don't wait too long</p>
		<p class="page-context">If you don't hear from HSA within a week, call (415) 558-1001 and say you need a phone interview for your CalFresh application.</p>
		<h2 class="page-header"></h2>
		<p class="form-label">Assister or Personal Notes</p>
		</div>
	</div>
</form>

<script>
$(function() {
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!

    var yyyy = today.getFullYear();
    if(dd<10){
        dd='0'+dd
    }
    if(mm<10){
        mm='0'+mm
    }
    var today = dd+'/'+mm+'/'+yyyy;
    $( "span.date" ).html( today );
    console.log(today);
});
</script>
